<div class="container">
  <div class="card-category"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1527661591475-527312dd65f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=716&q=80)">
    <h1><%= @cocktail.name %></h1>
    <p id="notice"><%= notice %></p>
</div>

<div class="container">
  <p>
  <!--   <strong>Name:</strong>
    <%= @cocktail.name %> -->
    <br>
    <% @cocktail.doses.each do |dose| %>
      <%= dose.ingredient.name %>
      <%= dose.description %>
      <% end %>
  </p>

  <%=  render "doses/new", cocktail: @cocktail, dose: @dose %>
  <br>

  <%= link_to 'Back', cocktails_path, class: "btn btn-gradient" %>
  <%= link_to 'Destroy', cocktail_path(@cocktail), method: :delete, class: "btn btn-gradient" %>
</div>
